{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <h1>Hi {{current_user.username}}</h1>
    <h3> Ading vehicle</h3>
    <div>
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    {% for vehicle in vehicles %}
        <div class='border border-primary'>
            <h3>{{vehicle.type}}</h3>
            <h4>{{vehicle.vehicle_num}}</h4>
            <h4>{{vehicle.model_number}}</h4>
            <h4>{{vehicle.odometer}}</h4>

            <form  action="/removevehicle" method="POST">
                <button name='id' value={{vehicle.id}} type="submit">Remove Vehicle</button>
            </form>

        </div>


    {% endfor %}

{% endblock %}