{% extends "bootstrap/base.html" %}
{% block title %}
      {% if title %}
      {{ title }} - Capstone Project 
      {% else %}
      Welcome to Our Capstone Project 
      {% endif %}
{% endblock %}

{% block navbar %}
  <nav class="navbar  navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" href="{{ url_for('index') }}">Capstone Project</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        </button>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
          
          {% if type=='admin' %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('addadmin') }}">Add Admin</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('addvehicle') }}">Add Vehicle</a></li>
          {% elif type=='customer' %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('balance') }}">Balance</a></li>
          {% else %}
          
          {% endif %}
            
            
            
            
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if current_user.is_anonymous %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module">import * as library from './static/__target__/clientlibrary.js'; window.library = library;</script>
{% endblock %}
