{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
	<h1> Book a Vehicle</h1>
	<p> Select the vehicle and click Book!</a></p>
	<div class="row">
    <div class="col-md-4">
      Available vehicles for rent ({{  startDate  }} to {{  endDate  }})
    </div>
    <div class="column">
      <button><a href="{{  url_for('selectVehicle')  }}">Back</a></button>
      <button><a href="{{  url_for('index')  }}">Cancel</a></button>
    </div>
<!--    Table for querying vehicles    -->
    {% if vehicles != None %}

      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vehicle Plate</th>
            <th scope="col">Model</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
        {% for idx in range(vehicles|length) %}
          <tr>
            <th scope="row" class="lead">{{ idx+1 }}</th>
            <td class="lead">
              {{ vehicles[idx].vehicle_num }}
            </td>
            <td class="lead">
              {{ vehicles[idx].model_number }}
            </td>
            <td class="lead">
              {{ vehicles[idx].unit_price }}
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    <p></p>
<!--    Form for selecting vehicle    -->
    {% if type == 'customer' %}
    <div class="col-md-4">
      {{ wtf.quick_form(bookingForm)}}
    </div>
    {% endif %}
    {% endif %}
  </div>
	
{% endblock %}